<!DOCTYPE html>
<html>

<head>
    <title>Vocabulary-Trainer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <style>
        nav {}
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="http://127.0.0.1:5000/add">Add word</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="http://127.0.0.1:5000/remove">Remove word</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="http://127.0.0.1:5000/display">Display</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="http://127.0.0.1:5000/learn">Learn</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="http://127.0.0.1:5000/io">Save/Load</a>
            </li>
        </ul>
    </nav>
    <div class="jumbotron">
        <h1 class="text-center">Vocabulary-Trainer</h1>
    </div>
    <div class="container">
        <p>This application is a vocabulary trainer. You can navigate with the menu above.</p>
        <p>The application use <mark>Flask</mark> , <mark>Python</mark> and <mark>Jinja2</mark> 
            in the background and use <mark>Bootstrap</mark> as CSS-framework. </p>
    </div>
</body>

</html>